[Unit]
Description=Hibernate Libvirt domain "%i" before Host sleep.
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/libvirt-dohibernate "%i"

[Install]
WantedBy=sleep.target